@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), url("TTLakes/TTLakes-Regular.woff") format(woff); 
}
  html, body{
font-family: "TT Lakes";
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
.header{
  background-color: white;
 height: 70px;
 width: 85%;
 display: flex;
 justify-content:space-evenly;
 align-items: center;
}

.header__aside{
float: right;
display: flex;

}

.header__burger{
background:none;
border: none;    
}
.header__repair{
background:none;
border: none;    
}
.header__checkstatus{
background:none;
border: none;  
}

.header__repair {
  font-family: "TT Lakes";
 
display: flex;
gap: 10px;
justify-content: space-between;
align-items: center;
}
.header__checkstatus{
  font-family: "TT Lakes";
  gap: 10px;
  
display: flex;
justify-content: space-between;
align-items: center;
}
.header__repair__text{
font-size: 16px;
}
.header__checkstatus__text{
font-size: 16px;
}


.container {
 max-width: 1500px;
 height: 100%;
 background: #F8F8F8;
 margin: 0% auto;
}

.box {
padding-top: 30px;
display: flex;
font-weight: 700px;
display: flex;
}
.service__title {
  font-weight: 700px;
  font-family: "TT Lakes" Arial, Helvetica, sans-serif;
  display: flex;
line-height: 10%;
 padding-left: 10px;
 padding-bottom: 30px; 
}
.services__menu {

   padding-left: 20px;
   padding-top: 1px;
   display: flex;
   justify-content: space-between; 
   overflow: auto;
   scrollbar-width: none;
   overflow-inline: none;
}
.services__menu-btn {

  font-family: "TT Lakes";
  color:#7E7E82;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px ;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  border: 3px solid #F8F8F8;
  background: none;
  outline: 0 !important;   
}



.services__menu-btn:active{

  margin-bottom: 20px ;
  border: 3px solid #B8FFEC;
 position: static;
 background: white ;
 border-radius: 6px ;
  

 
 
}
.main-inform__txt {
  font-family: "TT Lakes";
padding-left: 20px;
font-size: 14px; 
}

.main-inform {
  display: flex;
justify-content:space-between;

}
.main-inform__block__picture{
  padding-top: 10px;
width: 320px;
height: 176;
border-radius: 20px;
}


label {
 background-image: url('img/expand.png');
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 5px; 
display: block;

}


.hidden-more,
label span:nth-child(2),
#more:checked~label span:nth-child(1) {
  display: none;
  
}

#more:checked+.hidden-more,
#more:checked~label span:nth-child(2) {
  display: block;
  
 
}

@media (max-width: 600px){
.main-inform {
display: flex;
flex-wrap: wrap;  
}
}

@media (min-width: 640px ){
.main-inform__block__picture{
min-height: 208px;
min-width: 360px;
}
.main-inform__txt {
width: 400px;
height: 160px;  
}

}
@media (max-width: 600px) {
.header__profile {
  display: none;
}
.header__chat{
  display: none;
}
.header__Call{
  display: none;
}
.header__divider-1{
  display: none;
}
  }
 @media (min-width:600px){
 .header{
  margin: 0;
  padding: 0;
  display: flex;
 }
 .header__Group{
  padding-right: 200px;
 } 
 }
@media (min-width: 1000px) {
 .header{
 display: none; 
 } 
.main-inform{
 display: flex;
 
}
  .main-inform__txt{
width: 70%;
min-height: 160px;
}
.main-inform__block__picture {
 min-width: 531px;
 min-height: 307px;
 padding-right: 20px;
 
}
.header__repair {
 padding-top: 20px; 
}
.header__checkstatus{
 padding-top: 20px; 
}

}

@media (min-width: 1000px) {
 .header{
 display: none; 
 } 
.main-inform{
 display: flex;
 justify-content: center;
}
  .main-inform__txt{
width: 60%;
min-height: 160px;
padding-right: 10px;
}
.main-inform__block__picture {
 min-width: 531px;
 min-height: 307px;
 
}
.header__repair {
 padding-top: 20px; 
}
.header__checkstatus{
 padding-top: 20px; 
}
.services__menu{
  display: grid;
  grid-template-columns: 233px 254px 254px 152px 233px 194px;
}




}
@media (min-width: 1600px) {
 .header{
 display: none; 
 } 
.header__aside{
padding-right: 20px;
font-size: 16px;
}
.header__repair__text{
font-size: 16px;
}


.main-inform{
 display: flex;
 padding-right: 20px;
 justify-content: space-between;
}
  .main-inform__txt{
width: 60%;
min-height: 160px;
padding-right: 20px;

}
.main-inform__block__picture {
 min-width: 531px;
 min-height: 307px;
}
}
@media (max-width:1000px) {
.nav {
  display: flex;
}
  .header__repair__text{
  display: none;
}
.header__checkstatus__text{
  display: none;
}

.nav{
background-color: white;
  
}
}
